header {
    background-color: blue;

}

header .title {
    text-align: center;
    font-size: 56px;
    margin-top: 0px;
}

header h1 {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    background-color: cornflowerblue;
    text-align: center;
}


.current-day h2 {
    text-align: center;
}
.forecast h3 {
    text-align: center;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high  {
    background-color: red;
}

#location-container-one {
    border-style: solid;
    background-color: rgb(19, 44, 68);
    color: white;
}

#location-container-two {
    border-style: solid;
    background-color: rgb(19, 44, 68);
    color: white;
}

#location-container-three {
    border-style: solid;
    background-color: rgb(19, 44, 68);
    color: white;
}
#location-container-four {
    border-style: solid;
    background-color: rgb(19, 44, 68);
    color: white;
}
#location-container-five {
    border-style: solid;
    background-color: rgb(19, 44, 68);
    color: white;
}