header {
    background-color: blue;

}

header .title {
    text-align: center;
    font-size: 56px;
    margin-top: 0px;
}

header h1 {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    background-color: cornflowerblue;
    text-align: center;
}